@{
    ViewBag.Title = "Dasboard";
}


<div class="row">
    <div class="col-md-3 main-header m-2 bg-primary">
        <p class="px-auto my-auto">Total Product</p>
    </div>
    <div class="col-md-4 main-header m-2 bg-danger">
        <p class="mx-auto my-auto">Stock out product</p>
    </div>
    <div class="col-md-4 main-header m-2 bg-success">
        <p class="mx-auto my-auto">Total sales Invoice</p>
    </div>
</div>
<div class="row">
    <button class="btn-primary m-2 col-md-3 form-control"> Add customer</button>
    <button class="btn-primary m-2 col-md-4 form-control"> Add Supplier</button>
    <button class="btn-primary m-2 col-md-4 form-control"> Add Sales</button>

</div>

<div class="row">
    <div class="col-md-5 main-header m-2 bg-primary">
        <p class="mx-auto my-auto">Todays sales reports</p>
    </div>
    <div class="col-md-6 main-header m-2 bg-danger">
        <p class="mx-auto my-auto">Stock out product</p>
    </div>
</div>

<div class="row ">
    <div class=" m-2 bg-primary">
        <p class="mx-auto my-auto">Customer List of having Due amounts</p>
    </div>
    
</div>
